@model IEnumerable<NguyenHuuDuc_2021604120.Models.HocSinh>

@{
    ViewBag.Title = "Xemdanhsach";
}

<h2>Xem danh sách</h2>

@using (Html.BeginForm())
            {
                <p>
                    Tìm học sinh: @Html.TextBox("SearchString")
                    <input type="submit" value="Tìm" />
                </p>
            }

@*<p>
    @Html.ActionLink("Thêm dữ liệu", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LopHoc.tenlop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anhduthi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diemthi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LopHoc.tenlop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoten)
        </td>
        <td>
            @{
                string ImagePath = "~/wwwroot/Images/" + item.anhduthi;
            }
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            <br />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diemthi)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.sbd }) |
            @Html.ActionLink("Details", "Details", new { id=item.sbd }) |*@
            @Html.ActionLink("Xóa", "Xoadulieu", new { id=item.sbd })
        </td>
    </tr>
}

</table>
