<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            font-family: Tahoma;
        }

        .head {
            text-align: center;
            padding: 10px;
            background-color: #ff6601;
        }

        .menu_ngang {
            background-color: #be0001;
            
        }

            .menu_ngang ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 20px;
                margin-right: 10px;
            }

                .menu_ngang ul li {
                    list-style-type: none;
                }

                    .menu_ngang ul li a {
                        text-decoration: none;
                        color: white;
                    }
    </style>
</head>
<body>
    <div class="head">
        <a style="color: white; font-weight: bold; font-size: 20px; text-transform: uppercase">Bài kiểm tra điều kiện số 2 - D01</a>
    </div>
    <div class="menu_ngang">
        <ul class="navbar-nav flex-grow-1">
            <li>@Html.ActionLink("Xem danh sách |", "Xemdanhsach", "HocSinh", new { area = "" }, new { @class = "nav-link" })</li>  
            <li>@Html.ActionLink("Thêm dữ liệu", "Themdulieu", "HocSinh", new { area = "" }, new { @class = "nav-link" })</li>

        </ul>
    </div>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
