@model _2021604440_HoangXuanQuy_OntapTuan13.Models.HocSinh

@{
    ViewBag.Title = "xoa";
}

<h2>Xóa bản ghi</h2>

<h3>Có chắc muốn xóa học sinh này?</h3>
<div>
    <h4>Mất đừng tìm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LopHoc.tenlop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LopHoc.tenlop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hoten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anhduthi)
        </dt>

        <dd>
            @{ string path = "~/Images/" + Model.anhduthi;}
            <img src="@Url.Content(path)" alt="anh" width="200" height="200" />
            @Html.DisplayFor(model => model.anhduthi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemthi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemthi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Quay lại", "Xemdanhsach")
        </div>
    }
</div>
